
{{fontosdolog}}

<div *ngIf="!loggedin">


    <input type="text" placeholder="email" [(ngModel)]="user.email"  />
    <input type="password" placeholder="password" [(ngModel)]="user.password"  />

    <input type="submit" value="Login" (click)="login()" />

    <input type="button" value="mutasd a fontos dolgot" (click)="fontos()" />

</div>

<div *ngIf="loggedin">


    {{loginuser}}
    <input type="submit" value="logout" (click)="logout()" />

    <input type="button" value="mutasd a fontos dolgot" (click)="fontos()" />

</div>
